DEBUG=False
SECRET_KEY=your-super-secret-key-for-production
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000

DB_NAME=postgresql_db
DB_USER=django_user
DB_PASSWORD=django
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=postgresql_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django
